### Flight Price Prediction EDA & Feature Engineering

In [154]:
# import required libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [155]:
# read the datasets
train = pd.read_excel("Data_Train.xlsx")
test = pd.read_excel("Test_set.xlsx")

In [156]:
# let's take a look at our datasets
train.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [157]:
test.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info
4,Air Asia,24/06/2019,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info

In [158]:
# check the dimensions of the datasets
print("Train Data:", train.shape)
print("Test Data:", test.shape)

Train Data: (10683, 11)
Test Data: (2671, 10)

In [159]:
# check the datatypes
train.dtypes

Airline            object
Date_of_Journey    object
Source             object
Destination        object
Route              object
Dep_Time           object
Arrival_Time       object
Duration           object
Total_Stops        object
Additional_Info    object
Price               int64
dtype: object

In [160]:
test.dtypes

Airline            object
Date_of_Journey    object
Source             object
Destination        object
Route              object
Dep_Time           object
Arrival_Time       object
Duration           object
Total_Stops        object
Additional_Info    object
dtype: object

In [161]:
# Descriptive Statistics
train.describe(include='all').transpose()

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Airline,10683,12,Jet Airways,3849,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Date_of_Journey,10683,44,18/05/2019,504,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Source,10683,5,Delhi,4537,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Destination,10683,6,Cochin,4537,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Route,10682,128,DEL → BOM → COK,2376,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Dep_Time,10683,222,18:55,233,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Arrival_Time,10683,1343,19:00,423,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Duration,10683,368,2h 50m,550,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total_Stops,10682,5,1 stop,5625,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Additional_Info,10683,10,No info,8345,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Price,10683.0,NaN,NaN,NaN,9087.064121,4611.359167,1759.0,5277.0,8372.0,12373.0,79512.0

In [162]:
# Concise Summary 
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

In [163]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2671 entries, 0 to 2670
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          2671 non-null   object
 1   Date_of_Journey  2671 non-null   object
 2   Source           2671 non-null   object
 3   Destination      2671 non-null   object
 4   Route            2671 non-null   object
 5   Dep_Time         2671 non-null   object
 6   Arrival_Time     2671 non-null   object
 7   Duration         2671 non-null   object
 8   Total_Stops      2671 non-null   object
 9   Additional_Info  2671 non-null   object
dtypes: object(10)
memory usage: 208.8+ KB

In [164]:
# check for null/missing data
train.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

In [165]:
test.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        0
Additional_Info    0
dtype: int64

As you can see that there are 1 missing values in "Route" and "Total_Stops". After carefully observing the data we decided to fill the missing values as follows:

In [166]:
# imputing the missing values
train['Route'] = train['Route'].fillna("DEL → AMD → BOM → COK")
train['Total_Stops'] = train['Total_Stops'].fillna("2 stops")

In [167]:
# Date of Journey
train["Date"] = train['Date_of_Journey'].apply(lambda x:x.split("/")[0])
train["Month"] = train['Date_of_Journey'].apply(lambda x:x.split("/")[1])
train["Year"] = train['Date_of_Journey'].apply(lambda x:x.split("/")[2])

# Drop the column
train = train.drop(['Date_of_Journey'], axis=1)

# change the datatype
train['Date'] = train['Date'].astype('int')
train['Month'] = train['Month'].astype('int')
train['Year'] = train['Year'].astype('int')

In [168]:
# Dep_Time
train['Dep_Hour'] = train['Dep_Time'].apply(lambda x:x.split(":")[0])
train['Dep_Min'] = train['Dep_Time'].apply(lambda x:x.split(":")[1])

# Drop the column
train = train.drop(['Dep_Time'],axis=1)

# change the datatype
train['Dep_Hour'] = train['Dep_Hour'].astype('int')
train['Dep_Min'] = train['Dep_Min'].astype('int')

In [169]:
# Arrival_Time
train['Arrival_Time'] = train['Arrival_Time'].apply(lambda x:x.split(" ")[0])
train['Arrival_Hour'] = train['Arrival_Time'].apply(lambda x:x.split(":")[0])
train['Arrival_Min'] = train['Arrival_Time'].apply(lambda x:x.split(":")[1])

# Drop the Column
train = train.drop(['Arrival_Time'],axis=1)

# change the datatype
train['Arrival_Hour'] = train['Arrival_Hour'].astype('int')
train['Arrival_Min'] = train['Arrival_Min'].astype('int')

In [177]:
# Duration
train['Duration_Hour']=train['Duration'].str.split(' ').str[0].str.split('h').str[0]
train['Duration_Min']=train['Duration'].str.split(' ').str[1].str.split('m').str[0]

In [184]:
train['Duration_Hour'] = train['Duration_Hour'].replace('5m','0')
train['Duration_Min'] = train['Duration_Min'].fillna('0')

In [185]:
train['Duration_Hour'] = train['Duration_Hour'].astype('int')

In [186]:
train['Duration_Min'] = train['Duration_Min'].astype('int')

In [189]:
train = train.drop(['Duration'],axis=1)

In [190]:
train.head()

,Airline,Source,Destination,Route,Total_Stops,Additional_Info,Price,Date,Month,Year,Dep_Hour,Dep_Min,Arrival_Hour,Arrival_Min,Duration_Hour,Duration_Min
0,IndiGo,Banglore,New Delhi,BLR → DEL,non-stop,No info,3897,24,3,2019,22,20,1,10,2,50
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,2 stops,No info,7662,1,5,2019,5,50,13,15,7,25
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,2 stops,No info,13882,9,6,2019,9,25,4,25,19,0
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,1 stop,No info,6218,12,5,2019,18,5,23,30,5,25
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,1 stop,No info,13302,1,3,2019,16,50,21,35,4,45

In [188]:
train.dtypes

Airline            object
Source             object
Destination        object
Route              object
Duration           object
Total_Stops        object
Additional_Info    object
Price               int64
Date                int32
Month               int32
Year                int32
Dep_Hour            int32
Dep_Min             int32
Arrival_Hour        int32
Arrival_Min         int32
Duration_Hour       int32
Duration_Min        int32
dtype: object

In [191]:
train.isnull().sum()

Airline            0
Source             0
Destination        0
Route              0
Total_Stops        0
Additional_Info    0
Price              0
Date               0
Month              0
Year               0
Dep_Hour           0
Dep_Min            0
Arrival_Hour       0
Arrival_Min        0
Duration_Hour      0
Duration_Min       0
dtype: int64