<h2>Automated Exploratory Data Analysis</h2>

### Pandas Profiling

In [1]:
# install the pandas_profiling package
# !pip install pandas_profiling
# !pip install ipywidgets

In [2]:
# import pandas_profiling
import pandas_profiling

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_4064\4065198795.py:2: DeprecationWarning: `import pandas_profiling` is going to be deprecated by April 1st. Please use `import ydata_profiling` instead.
  import pandas_profiling

In [3]:
import seaborn as sns

In [4]:
df = sns.load_dataset('tips')

In [5]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [6]:
from pandas_profiling import ProfileReport

In [7]:
profile = ProfileReport(df=df, explorative=True, dark_mode=True)

In [8]:
profile.to_file('output.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [9]:
# to get duplicate values
profile.get_duplicates()

    total_bill  tip     sex smoker   day    time  size  # duplicates
16        13.0  2.0  Female    Yes  Thur   Lunch     2             2
0         13.0  2.0    Male    Yes  Thur   Lunch     2             0
1         13.0  2.0    Male    Yes  Thur  Dinner     2             0
2         13.0  2.0    Male    Yes   Fri   Lunch     2             0
3         13.0  2.0    Male    Yes   Fri  Dinner     2             0
4         13.0  2.0    Male    Yes   Sat   Lunch     2             0
5         13.0  2.0    Male    Yes   Sat  Dinner     2             0
6         13.0  2.0    Male    Yes   Sun   Lunch     2             0
7         13.0  2.0    Male    Yes   Sun  Dinner     2             0
8         13.0  2.0    Male     No  Thur   Lunch     2             0

In [10]:
df = df.drop_duplicates()

### dtale

In [11]:
# install dtale package
# !pip install dtale

In [12]:
import dtale

In [13]:
dtale.show(df)

d:\anaconda\envs\machinelearning\lib\site-packages\dtale\views.py:772: FutureWarning:

['sex', 'smoker', 'day', 'time'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.

### sweetviz

In [14]:
# install sweetviz package
# !pip install sweetviz

In [15]:
import sweetviz as sv

In [16]:
report = sv.analyze(df)
report.show_html("sweetviz.html")

                                             |          | [  0%]   00:00 -> (? left)

Report sweetviz.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

### dataprep

In [20]:
# install dataprep package
# !pip install dataprep

In [21]:
# from dataprep.eda import create_report
# import IProgress

In [22]:
# create_report(df)

In [23]:
# !pip install IProgress

### autoviz

In [24]:
# !pip install autoviz

In [30]:
from autoviz.AutoViz_Class import AutoViz_Class
AV = AutoViz_Class()

filename = ''
sep = ','

In [35]:
report = AV.AutoViz(filename=filename, sep=sep, dfte=df)

Shape of your Data Set loaded: (243, 7)
#######################################################################################
######################## C L A S S I F Y I N G  V A R I A B L E S  ####################
#######################################################################################
Classifying variables in data set...
    7 Predictors classified...
        No variables removed since no ID or low-information variables found in data set
To fix data quality issues automatically, import FixDQ from autoviz...

Number of All Scatter Plots = 3
All Plots done
Time to run AutoViz = 1 seconds

 ###################### AUTO VISUALIZATION Completed ########################

### lux-api

In [40]:
# !pip install lux-api
# !pip install lux

In [43]:
import lux

In [44]:
df = sns.load_dataset("tips")

In [46]:
df

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

### pandas_visual_analysis

In [48]:
# !pip install pandas_visual_analysis

In [49]:
from pandas_visual_analysis import VisualAnalysis

In [50]:
VisualAnalysis(df)

VBox(children=(ToggleButtons(_dom_classes=('layout-3a20cb7be315431eb438606baf902fbc',), description='Selectionâ€¦